# Vivado build/output
build/
*.jou
*.log
*.str
*.cache
*.hw
*.sim
*.runs
*.xpr

# Vivado temporary files
.Xil/
xvlog.pb

# OS junk
.DS_Store

# Personal notes (adjust if needed)
*Explain.txt

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
